# 第６章 物流の最適ルートをコンサルティングする１０本ノック

## ノック５１

- 物流に関するデータを読み込む

In [1]:
import pandas as pd

In [14]:
factories = pd.read_csv('../materials/part_06/tbl_factory.csv', index_col=0)
factories

        FCName  FCDemand FCRegion
FCID
FC00001   東京工場        28       関東
FC00002  木更津工場        29       関東
FC00003   多摩工場        31       関東
FC00004  横須賀工場        25       関東
FC00005   仙台工場        21       東北
FC00006   山形工場        30       東北
FC00007   那須工場        25       東北
FC00008   青森工場        16       東北

In [15]:
warehouses = pd.read_csv('../materials/part_06/tbl_warehouse.csv', index_col=0)
warehouses

        WHName  WHSupply WHRegion
WHID
WH00001   杉並倉庫        35       関東
WH00002   品川倉庫        41       関東
WH00003   豊洲倉庫        42       関東
WH00004   郡山倉庫        60       東北
WH00005   仙台倉庫        72       東北
WH00006   山形倉庫        65       東北

In [16]:
cost = pd.read_csv('../materials/part_06/rel_cost.csv', index_col=0)
cost.head(10)

            FCID     WHID  Cost
RCostID
1        FC00001  WH00001   0.4
2        FC00001  WH00002   0.8
3        FC00001  WH00003   1.5
4        FC00002  WH00001   0.9
5        FC00002  WH00002   0.8
6        FC00002  WH00003   1.6
7        FC00003  WH00001   1.2
8        FC00003  WH00002   1.3
9        FC00003  WH00003   1.5
10       FC00004  WH00001   0.8

In [17]:
trans = pd.read_csv('../materials/part_06/tbl_transaction.csv', index_col=0)
trans.head(10)

          TransactionDate     ToFC   FromWH  Quantity
TRID
0     2019-01-01 02:11:10  FC00004  WH00003        33
1     2019-01-01 06:12:42  FC00007  WH00006        19
2     2019-01-01 06:32:32  FC00006  WH00004        31
3     2019-01-01 07:17:06  FC00002  WH00003        18
4     2019-01-01 07:52:18  FC00001  WH00002        30
5     2019-01-01 08:56:09  FC00005  WH00005        31
6     2019-01-01 09:00:15  FC00006  WH00006        33
7     2019-01-01 09:09:30  FC00001  WH00003        12
8     2019-01-01 10:52:55  FC00003  WH00003        27
9     2019-01-01 14:12:51  FC00006  WH00006        21

In [18]:
# 輸送実績データに輸送費データを結合
join_data = pd.merge(trans, cost, left_on=['ToFC', 'FromWH'], right_on=['FCID', 'WHID'], how='left')
join_data.head(10)

       TransactionDate     ToFC   FromWH  Quantity     FCID     WHID  Cost
0  2019-01-01 02:11:10  FC00004  WH00003        33  FC00004  WH00003   1.1
1  2019-01-01 06:12:42  FC00007  WH00006        19  FC00007  WH00006   1.3
2  2019-01-01 06:32:32  FC00006  WH00004        31  FC00006  WH00004   0.9
3  2019-01-01 07:17:06  FC00002  WH00003        18  FC00002  WH00003   1.6
4  2019-01-01 07:52:18  FC00001  WH00002        30  FC00001  WH00002   0.8
5  2019-01-01 08:56:09  FC00005  WH00005        31  FC00005  WH00005   0.3
6  2019-01-01 09:00:15  FC00006  WH00006        33  FC00006  WH00006   0.7
7  2019-01-01 09:09:30  FC00001  WH00003        12  FC00001  WH00003   1.5
8  2019-01-01 10:52:55  FC00003  WH00003        27  FC00003  WH00003   1.5
9  2019-01-01 14:12:51  FC00006  WH00006        21  FC00006  WH00006   0.7

In [19]:
len(trans) == len(join_data)

True

In [20]:
# 工場データを結合
join_data = pd.merge(join_data, factories, left_on='ToFC', right_on='FCID', how='left')
join_data.head(10)

,TransactionDate,ToFC,FromWH,Quantity,FCID,WHID,Cost,FCName,FCDemand,FCRegion
0,2019-01-01 02:11:10,FC00004,WH00003,33,FC00004,WH00003,1.1,横須賀工場,25,関東
1,2019-01-01 06:12:42,FC00007,WH00006,19,FC00007,WH00006,1.3,那須工場,25,東北
2,2019-01-01 06:32:32,FC00006,WH00004,31,FC00006,WH00004,0.9,山形工場,30,東北
3,2019-01-01 07:17:06,FC00002,WH00003,18,FC00002,WH00003,1.6,木更津工場,29,関東
4,2019-01-01 07:52:18,FC00001,WH00002,30,FC00001,WH00002,0.8,東京工場,28,関東
5,2019-01-01 08:56:09,FC00005,WH00005,31,FC00005,WH00005,0.3,仙台工場,21,東北
6,2019-01-01 09:00:15,FC00006,WH00006,33,FC00006,WH00006,0.7,山形工場,30,東北
7,2019-01-01 09:09:30,FC00001,WH00003,12,FC00001,WH00003,1.5,東京工場,28,関東
8,2019-01-01 10:52:55,FC00003,WH00003,27,FC00003,WH00003,1.5,多摩工場,31,関東
9,2019-01-01 14:12:51,FC00006,WH00006,21,FC00006,WH00006,0.7,山形工場,30,東北

In [21]:
# 倉庫データを結合
join_data = pd.merge(join_data, warehouses, left_on='FromWH', right_on='WHID', how='left')
join_data = join_data[['TransactionDate', 'Quantity', 'Cost', 'ToFC', 'FCName', 'FCDemand', 'FromWH', 'WHName', 'WHSupply', 'WHRegion']]
join_data.head(10)

,TransactionDate,Quantity,Cost,ToFC,FCName,FCDemand,FromWH,WHName,WHSupply,WHRegion
0,2019-01-01 02:11:10,33,1.1,FC00004,横須賀工場,25,WH00003,豊洲倉庫,42,関東
1,2019-01-01 06:12:42,19,1.3,FC00007,那須工場,25,WH00006,山形倉庫,65,東北
2,2019-01-01 06:32:32,31,0.9,FC00006,山形工場,30,WH00004,郡山倉庫,60,東北
3,2019-01-01 07:17:06,18,1.6,FC00002,木更津工場,29,WH00003,豊洲倉庫,42,関東
4,2019-01-01 07:52:18,30,0.8,FC00001,東京工場,28,WH00002,品川倉庫,41,関東
5,2019-01-01 08:56:09,31,0.3,FC00005,仙台工場,21,WH00005,仙台倉庫,72,東北
6,2019-01-01 09:00:15,33,0.7,FC00006,山形工場,30,WH00006,山形倉庫,65,東北
7,2019-01-01 09:09:30,12,1.5,FC00001,東京工場,28,WH00003,豊洲倉庫,42,関東
8,2019-01-01 10:52:55,27,1.5,FC00003,多摩工場,31,WH00003,豊洲倉庫,42,関東
9,2019-01-01 14:12:51,21,0.7,FC00006,山形工場,30,WH00006,山形倉庫,65,東北

In [22]:
kanto = join_data.loc[join_data['WHRegion'] == '関東']
kanto.head(10)

,TransactionDate,Quantity,Cost,ToFC,FCName,FCDemand,FromWH,WHName,WHSupply,WHRegion
0,2019-01-01 02:11:10,33,1.1,FC00004,横須賀工場,25,WH00003,豊洲倉庫,42,関東
3,2019-01-01 07:17:06,18,1.6,FC00002,木更津工場,29,WH00003,豊洲倉庫,42,関東
4,2019-01-01 07:52:18,30,0.8,FC00001,東京工場,28,WH00002,品川倉庫,41,関東
7,2019-01-01 09:09:30,12,1.5,FC00001,東京工場,28,WH00003,豊洲倉庫,42,関東
8,2019-01-01 10:52:55,27,1.5,FC00003,多摩工場,31,WH00003,豊洲倉庫,42,関東
11,2019-01-01 19:16:11,21,1.3,FC00003,多摩工場,31,WH00002,品川倉庫,41,関東
14,2019-01-02 07:44:00,35,0.8,FC00004,横須賀工場,25,WH00001,杉並倉庫,35,関東
16,2019-01-02 11:04:17,38,0.4,FC00001,東京工場,28,WH00001,杉並倉庫,35,関東
18,2019-01-02 14:59:24,13,1.3,FC00003,多摩工場,31,WH00002,品川倉庫,41,関東
19,2019-01-02 19:05:57,29,0.8,FC00001,東京工場,28,WH00002,品川倉庫,41,関東

In [23]:
tohoku = join_data.loc[join_data['WHRegion'] == '東北']
tohoku.head(10)

,TransactionDate,Quantity,Cost,ToFC,FCName,FCDemand,FromWH,WHName,WHSupply,WHRegion
1,2019-01-01 06:12:42,19,1.3,FC00007,那須工場,25,WH00006,山形倉庫,65,東北
2,2019-01-01 06:32:32,31,0.9,FC00006,山形工場,30,WH00004,郡山倉庫,60,東北
5,2019-01-01 08:56:09,31,0.3,FC00005,仙台工場,21,WH00005,仙台倉庫,72,東北
6,2019-01-01 09:00:15,33,0.7,FC00006,山形工場,30,WH00006,山形倉庫,65,東北
9,2019-01-01 14:12:51,21,0.7,FC00006,山形工場,30,WH00006,山形倉庫,65,東北
10,2019-01-01 17:14:43,36,0.7,FC00006,山形工場,30,WH00006,山形倉庫,65,東北
12,2019-01-01 20:16:02,37,1.1,FC00006,山形工場,30,WH00005,仙台倉庫,72,東北
13,2019-01-02 05:27:02,42,0.8,FC00005,仙台工場,21,WH00004,郡山倉庫,60,東北
15,2019-01-02 08:21:07,33,0.3,FC00005,仙台工場,21,WH00005,仙台倉庫,72,東北
17,2019-01-02 11:30:12,26,1.4,FC00005,仙台工場,21,WH00006,山形倉庫,65,東北